.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

.panel-heading div span {
    margin-left: 5px;
}

.panel-body {
    display: none;
}

.form-group {
    max-width: 25%;
    position: absolute;
    color: white;
    right: 6%;
    top: 10%;
    background-color: deepskyblue;
}

.btn-new-pos {
    position: absolute;
    right: 23%;
    top: 10%;
}

.form-group select {
    /*color: white;*/
    /* color: white;
    background-color: aquamarine;*/
}
