{% extends "base.html" %}

{% block head_title %}Cliente: {{ comparativa.cliente.nombre }} {{ cliente.apellidoPaterno }} {{ cliente.apellidoMaterno }}{% endblock %}
{% block head_css %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="../../static/css/dataTables/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">

{% endblock %}
{% block head_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
{% endblock %}

{% block comparativas_tag %}class="active"{% endblock %}
{% block body_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Comparativa</h3>
                    <div class="pull-right">
                    <div class="btn-new-pos btn-new-pos" style="position: relative; top: -23px;">
                        {% if comparativa.fechaEnvioTramite == None %}
                        <a id="concluida" href="{% url 'schema:marcarConcluida' comparativa.pk %}" class="btn btn-default btn-sm btn-new-pos">
                            {% if comparativa.fechaConclusion == None %}
                                Marcar como concluida</a><!-- TODO: disable when no of cotizaciones is zero -->
                                <a id="envioCliente" disabled href="#" title="La comparativa podrá enviarse una vez haya sido concluida" class="btn btn-default btn-sm btn-new-pos">Enviar comparativa a cliente: {{ comparativa.ordenServicio.cliente.nombre }}</a>
                            {% else %}
                                Marcar como no concluida</a>
                                <a id="envioCliente" href="{% url 'schema:enviarComparativa' comparativa.pk %}" class="btn btn-default btn-sm btn-new-pos">Enviar comparativa a cliente: {{ comparativa.ordenServicio.cliente.nombre }}</a>
                            {% endif %}
                        {% else %}
                            <a id="concluida" disabled href="#" class="btn btn-default btn-sm btn-new-pos">Marcar como no concluida</a>
                            <a id="envioCliente" href="{% url 'schema:enviarComparativa' comparativa.pk %}" class="btn btn-default btn-sm btn-new-pos">Enviar comparativa a cliente: {{ comparativa.ordenServicio.cliente.nombre }}</a>
                        {% endif %}
                            {% if comparativa.fechaConclusion == None %}
                                <a id="envioTramite" disabled href="#" class="btn btn-default btn-sm btn-new-pos">Enviar cotización preferida a trámites</a>
                            {% else %}
                                <a id="envioTramite" href="{% url 'schema:enviarCotizacionTramites' comparativa.pk %}" class="btn btn-default btn-sm btn-new-pos">Enviar cotización preferida a trámites</a>
                            {% endif %}
                        {% if comparativa.fechaConclusion == None %}
                        <a id="nuevoCliente" href="{% url 'schema:nuevaCotizacion' comparativa.pk %}" class="btn btn-default btn-sm btn-new-pos">Nueva cotización</a>
                        {% else %}
                        <a id="nuevoCliente" disabled href="#" class="btn btn-default btn-sm btn-new-pos">Nueva cotización</a>
                        {% endif %}
                    </div>
                    </div>
                </div>
                <div class="panel-body">
                    <legend>
                        Características
                    </legend>
                    {% for field in datos %}
                        <li><b>{{ field.label }}:</b>
                            {% if field.data == None or field.data == '' %}
                                No especificado
                            {% else %}
                                {{ field.data }}</li>
                            {% endif %}
                    {% endfor %}
                    <br />
                    <!-- start panel body -->
                    <table class="table table-hover" id="cotizacionesTable">
                        <thead>
                            <tr>
                                <th>ID Cotización</th>
                                <th>Aseguradora</th>
                                <th>Costo</th>
                                <th>No. de coberturas</th>
                                <th>Forma de pago</th>
                                <th>Fecha de creación</th>
                            </tr>
                        </thead>
                        <tbody class="rowlink" data-link="row">
                            {% for cotizacion in comparativa.cotizacion_set.all %}
                                <tr id="comparativa{{ forloop.counter }}">
                                    <td>
                                        <a href="{% url 'schema:cotizacionCliente' cotizacion.pk %}">{{ cotizacion.pk }}</a>
                                    </td>
                                    <td>
                                        {{ cotizacion.aseguradora.nombre }}
                                    </td>
                                    <td>
                                        {{ cotizacion.costo }}
                                    </td>
                                    <td>
                                        {{ cotizacion.coberturautilizada_set.all.count }}
                                    </td>
                                    <td>
                                        {{ cotizacion.get_formaPago_display }}
                                    </td>
                                    <td>
                                        {{ cotizacion.fechaCreacion }}
                                    </td>
                                  </div>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- end panel body -->
                    <a href="{% url 'schema:pdf' comparativa.pk %}">
                        <input type="button" class="btn btn-primary " value="Imprimir"/>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_javascript %}

<!-- jQuery -->

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready( function () {
    $('#cotizacionesTable').DataTable();
} );
</script>
{% endblock %}
