{% extends "base.html" %}

{% block head_title %}Comparativas{% endblock %}
{% block head_css %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="../../static/css/dataTables/dataTables.bootstrap.min.css">

{% endblock %}
{% block head_javascript %}


{% endblock %}

{% block comparativas_tag %}class="active"{% endblock %}

{% block body_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Comparativas</h3>
                    <div class="pull-right">
                        <div class="btn-new-pos btn-new-pos" style="position: relative; top: -23px;">
                            <a href="{% url 'schema:preNuevaComparativa' %}" class="btn btn-default btn-sm btn-new-pos">Nueva comparativa</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- start panel body -->
                    <table class="table table-hover" id="comparativasTable">
                        <thead>
                            <tr>
                                <th># Comparativa</th>
                                <th>Cliente</th>
                                <!-- <th>Tipo de Seguro</th> -->
                                <th>Número de cotizaciones</th>
                                <th>Concluida</th>
                                <th>Enviada</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for cliente in clientes.all %}
                            {% for orden in cliente.ordenservicio_set.all %}
                            <tr id="comparativa{{ forloop.counter }}">
                                <td>
                                    {{ orden.comparativa.pk }}
                                </td>
                                <td>
                                    {{ orden.cliente.nombre }}
                                    {{ orden.cliente.apellidoPaterno }}
                                    {{ orden.cliente.apellidoMaterno }}
                                </td>
                                <!-- <td>
                                    {{ orden.tipoSeguro.get_idTipoSeguro_display }}
                                </td> -->
                                <td>
                                    {{ orden.comparativa.cotizacion_set.all.count }}
                                    <!-- numero de cotizaciones -->
                                </td>
                                <td>
                                    {% if orden.comparativa.fechaConclusion %}
                                        Sí
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    {% if orden.comparativa.fechaEnviada %}
                                        Sí
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- end panel body -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_javascript %}

<!-- jQuery -->

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready( function () {
    $('#comparativasTable').DataTable();
} );
</script>
{% endblock %}
