<html>
<head>
    <meta charset="utf-8">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>


</head>
<body>
    <table id="mytable">
        <thead>
            <th>
                HOLA
            </th>
            </th>
            <th>
                ADIOS
            </th>
        </thead>
        <tr>
            <td>
                1
            </td>
            <td>
                2
            </td>
        </tr>
        <tr>
            <td>
                3
            </td>
            <td>
                4
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        $('#mytable').DataTable();
    </script>
</body>
</html>
