{% extends "base.html" %}
{% block head_title %}Inicio{% endblock %}

{% block home_tag %}class="active"{% endblock %}
{% block head_css %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="../../static/css/dataTables/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/custom/homestyles.css">
{% endblock %}
{% block head_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
{% endblock %}
{% block body_content %}
<!-- check out the following: https://docs.djangoproject.com/en/dev/howto/custom-template-tags/ -->
<div class="container">
        <div class="col-md-8">
            <div class="well">
                <h5>Bienvenido,
                    {{ request.user.first_name }} {{ request.user.last_name }}
                </h5>
            </div>
            <div id="agent_info">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Información</h3>
                    </div>
                    <div class="panel-body panel-body-agent">
                        <p>
                            <strong>No. de renovaciones pendientes: </strong> {{ polizasVencidas.all.count }}
                        </p>
                        <p>
                            <strong>No. de pólizas activas</strong>: {{ polizasActivas.all.count }}
                        </p>
                        <p>
                            <strong>Comparativas pendientes</strong>: {{ comparativasPendientes.all.count }}
                        </p>
                        <p>
                            <strong>Cliente más reciente</strong>:
                            {% if clienteReciente != None %}
                            <a href="{% url 'schema:infoCliente' clienteReciente.pk %}">{{ clienteReciente.nombre }}
                            {{ clienteReciente.apellidoPaterno }} {{ clienteReciente.apellidoMaterno}}</a>
                            {% else %}
                            No hay clientes registrados
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div id="deadline">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vencimientos próximos</h3>
                    </div>
                    <div class="panel-body panel-body-deadline">
                        {% if comparativasPendientes.all.count == 0 %}
                            <p class="panel_padding_center"><strong>No hay vencimientos en los próximos {{ meses }} meses</strong></p>
                        {% else %}
                        <table class="table table-hover" id="polizasTab">
                            <thead>
                                <tr>
                                    <th>ID Póliza</th>
                                    <th>Tipo de seguro</th>
                                    <th>Aseguradora</th>
                                    <th>Cliente</th>
                                    <th>Fecha de vencimiento</th>
                                </tr>
                            </thead>
                            <tbody class="rowlink" data-link="row">
                                {% for poliza in polizas %}
                                    <td>
                                        <a href="{% url 'schema:polizaCliente' poliza.pk %}">{{ poliza.pk }}</a>
                                    </td>
                                    <td>
                                        {{ poliza.cotizacion.comparativa.tipoSeguro.nombre.nombre }}
                                    </td>
                                    <td>
                                        {{ poliza.cotizacion.aseguradora }}
                                    </td>
                                    <td>
                                        {{ poliza.ordenServicio.cliente.nombre }} {{ poliza.ordenServicio.cliente.apellidoPaterno}}
                                        {{ poliza.ordenServicio.cliente.apellidoMaterno }}
                                    </td>
                                    <td>
                                        {{ poliza.fechaFin|date }}
                                    </td>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">


            </div>

        </div>
        <div class="col-md-4">
            <div id="deadline">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comisiones por cobrar</h3>
                    </div>
                    <div class="panel-body panel-body-deadline">
                        {% if polizasSinCobrar.all.count == 0 %}
                            <p class="panel_padding_center"><strong>No hay comisiones por cobrar</strong></p>
                        {% else %}
                        <table class="table table-hover" id="comisionesTable">
                            <thead>
                                <tr>
                                    <th>No. de póliza</th>
                                    <th>Comisión</th>
                                </tr>
                            </thead>
                            <tbody class="rowlink" data-link="row">
                            {% for poliza in polizasSinCobrar.all %}
                                    <tr id="poliza{{ forloop.counter }}">
                                        <td>
                                            <a href="{% url 'schema:polizaCliente' poliza.pk %}">{{ poliza.noPoliza }}</a>
                                        </td>
                                        <td>
                                            {{ poliza.comision.cantidadComision }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Comparativas sin terminar</h3>
                </div>

                {% if comparativasPendientes.all.count == 0 %}
                    <p class="panel_padding_center"><strong>No hay comparativas pendientes</strong></p>
                {% else %}
                <table class="table table-hover" id="comparativasTable">
                    <thead>
                        <tr>
                            <th># Comparativa</th>
                            <th>Tipo de seguro</th>
                            <!--
                            <th>Cliente</th>
                            <th>Número de cotizaciones</th>
                            -->
                        </tr>
                    </thead>
                    <tbody class="rowlink" data-link="row">
                    {% for comparativa in comparativasPendientes.all %}
                            <tr id="comparativa{{ forloop.counter }}">
                                <td>
                                    <a href="{% url 'schema:comparativaCliente' comparativa.pk %}">{{ comparativa.pk }}</a>
                                </td>
                                <td>
                                    {{ comparativa.tipoSeguro.nombre.nombre }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}

            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cotizaciones enviadas sin póliza registrada</h3>
                </div>
                <div class="panel-body">
                    {% if cotizacionesSinPoliza.all.count == 0 %}
                        <p class="panel_padding_center"><strong>No hay cotizaciones sin póliza registrada</strong></p>
                    {% else %}
                    <table class="table table-hover" id="cotizacionesSinPolizaTable">
                        <thead>
                            <tr>
                                <th># Cotización</th>
                                <th>Aseguradora</th>
                                <!--
                                <th>Cliente</th>
                                <th>Número de cotizaciones</th>
                                -->
                            </tr>
                        </thead>
                        <tbody class="rowlink" data-link="row">
                        {% for cotizacion in cotizacionesSinPoliza.all %}
                                <tr id="cotizacion{{ forloop.counter }}">
                                    <td>
                                        <a href="{% url 'schema:cotizacionCliente' cotizacion.pk %}">{{ cotizacion.pk }}</a>
                                    </td>
                                    <td>
                                        {{ cotizacion.aseguradora }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer_javascript %}

<!-- jQuery -->

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready( function () {
    $('#polizasTab').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching": false,
        "scrollY": true
    });
    $('#comparativasTable').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching": false,
        "scrollY": true
    });
    $('#cotizacionesSinPolizaTable').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching": false,
        "scrollY": true
    });
    $('#comisionesTable').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching": false,
        "scrollY": true
    });
} );
</script>
{% endblock %}
