{% extends "baseAdmin.html" %}

{% block head_title %}Agente: {{ agente.userAgente.first_name }} {{ agente.userAgente.last_name }}{% endblock %}
{% block head_css %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="../../static/css/dataTables/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css">
{% endblock %}

{% block head_javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.colVis.min.js"></script>
{% endblock %}

{% block agentes_tag %}class="active"{% endblock %}
{% block body_content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Clientes</h3>
                </div>
                <div class="panel-body">
                    <!-- start panel body -->
                    <table class="table table-hover" id="clienteTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre cliente</th>
                                <th># de comparativas</th>
                                <th># de polizas</th>
                            </tr>
                        </thead>
                        <tbody class="rowlink" data-link="row">
                            {% for cliente in relacionCliente %}
                            
                            <tr>
                                <td>
                                    <a href="{% url 'schema:infoCliente' cliente.pk %}">{{ cliente.pk }}</a>
                                </td>
                                <td>
                                    {{ cliente.cliente.nombre }}
                                    {{ cliente.cliente.apellidoPaterno }}
                                    {{ cliente.cliente.apellidoMaterno }}
                                </td>
                                <td>
                                    {{ cliente.cliente.ordenservicio_set.count }}
                                </td>
                                <td>
                                    N/A
                                </td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- end panel body -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Info del agente</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>Nombre:</strong>
                            {{ agente.userAgente.first_name }}
                            {{ agente.userAgente.last_name }}
                            <strong>Edad:</strong>
                            {% if agente.edad %}
                                {{ agente.edad }}
                            {% else %}
                                N/A
                            {% endif %}
                        </p>
                        <p><strong>Usuario:</strong> {{ agente.userAgente.username }}</p>
                        <p><strong>Correo:</strong> {{ agente.userAgente.email }}</p>
                        <p>
                            <strong>Clave agente:</strong>
                            {% if agente.claveAgente %}
                                {{ agente.claveAgente }}
                            {% else %}
                                N/A
                            {% endif %}
                        </p>
                        <p>
                            <strong>Cuenta bancaria:</strong>
                            {% if agente.cuentaBancaria %}
                                {{ agente.cuentaBancaria }} ({{ agente.userAgente.banco}})
                            {% else %}
                                N/A
                            {% endif %}
                        </p>
                        <p>
                            <strong>RFC:</strong>
                            {% if agente.RFC %}
                                {{ agente.RFC }}
                            {% else %}
                                N/A
                            {% endif %}
                        </p>
                        <p>
                            <strong>Domicilio:</strong>
                            {% if agente.calle %}
                                <p>
                                {{ agente.calle }}
                                {{ agente.numeroInt }}
                                {{ agente.numeroExt }}
                                {{ agente.colonia }}
                                </p>
                                <p>
                                {{ agente.ciudad }}
                                {{ agente.estado }}
                                {{ agente.codigoPostal }}
                                </p>
                            {% else %}
                                N/A
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_javascript %}

<!-- jQuery -->

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/dataTables.bootstrap.min.js"></script>
<script>
$(document).ready( function () {
    table = $('#clienteTable').DataTable( {
        buttons: [
            'copy', 'excel', 'pdf'
        ]
    } );
    
    table.buttons().container().appendTo( $('.col-sm-6:eq(0)', table.table().container() ) );
} );
</script>
{% endblock %}
