{% extends "base.html" %}
{% block head_title %}Log in{% endblock %}
{% block head_css %}
    <link rel="stylesheet" href="../../static/css/custom/loginstyles.css">
    <link rel="stylesheet" href="../../static/css/custom/center-content.css">
    <!-- <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.css"> -->
{% endblock %}
{% block navbar %}{% endblock %}

{% block body_content %}

<div class="container">
<div class="row">
      <div class="col-md-12">
        <!--<span class="center-content"></span>
        <img class="resize-logo" src="images/logo/logo.png">-->
        <h3 class="text-center">Consultores Patrimoniales</h3>
      </div>
</div>
  </div>
<div class="loginmodal-container">
    <h1>Ingresa a tu cuenta</h1>
    <br>

    <form action="{% url 'schema:loginAuthentication' %}" method="post">
        {% csrf_token %}
        <input type="text" name="user" class="user" placeholder="Usuario">
        <input type="password" name="password" class="password" placeholder="Contraseña">
        <!--<a href="index.html" class="login loginmodal-submit">Entrar</a>-->
        <!--<input type="button" style="width: 100%;" class="login loginmodal-submit" value="Entrar">-->
        <input type="submit" name="login" class="login loginmodal-submit" value="Entrar">
    </form>

    <div class="login-help">
        <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
    {% if error_missingfields %}<p class="red-color">{{ error_missingfields }}</p>{% endif %}
    {% if error_wrongpassword %}<p class="red-color">{{ error_wrongpassword }}</p>{% endif %}
    {% if error_sessionexpired %}<p class="red-color">{{ error_sessionexpired }}{% endif %}
    {% if message_logoutsuccess %}<p class="green-color">{{ message_logoutsuccess }}{% endif %}
</div>

{% endblock %}
