{% extends "base.html" %}
{% block head_title %}Nueva cotización{% endblock %}
{% block head_css %}
<style type="text/css">
.section, .item {
  padding: 0px 15px;
}
.item {
  background-color: #dcf0f7;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  padding: 5px 15px;
}
.helptext {
  color: #999;
  padding-left: 10px;
}
a.delete:hover {
  color: red;
}
</style>
{% endblock %}
{% block head_javascript %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  // Code adapted from http://djangosnippets.org/snippets/1389/
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + ndx + '-';
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
 replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
  function deleteForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (formCount > 1) {
      // Delete the item/form
      $(btn).parents('.item').remove();
      var forms = $('.item'); // Get all the forms
      // Update the total number of forms (1 less than before)
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      var i = 0;
      // Go through the forms and set their indices, names and IDs
      for (formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).children().children().each(function() {
          updateElementIndex(this, prefix, i);
        });
      }
    } // End if
    else {
        alert("¡Necesitas por lo menos ingresar una cobertura a esta cotización!");
    }
    return false;
  }
  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    // You can only submit a maximum of 10 todo items
    if (formCount < 10) {
      // Clone a form (without event handlers) from the first form
      var row = $(".item:first").clone(false).get(0);
      // Insert it after the last form
      $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

      // Remove the bits we don't want in the new row/form
      // e.g. error messages
      $(".errorlist", row).remove();
      $(row).children().removeClass('error');

      // Relabel/rename all the relevant bits
      $(row).children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        if ( $(this).attr('type') == 'text' )
          $(this).val('');
      });

      // Add an event handler for the delete item/form link
      $(row).find('.delete').click(function() {
        return deleteForm(this, prefix);
      });
      // Update the total form count
      $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
    } // End if
    else {
      alert("Sólo puedes ingresar un máximo de 10 items.");
    }
    return false;
  }
  // Register the click event handlers
  $("#add").click(function() {
    return addForm(this, 'form');
  });

  $(".delete").click(function() {
    return deleteForm(this, 'form');
  });
});
</script>
{% endblock %}
</head>
<body>
{% block body_content %}
<div class="container">
    <h3>Nueva cotización</h3>
    <form enctype="multipart/form-data" action="{% url 'schema:nuevaCotizacionAuth' comparativa.pk %}" method="POST">
        {% csrf_token %}
        <div class="section">
            {{ cotizacionForm.as_p }}
        </div>

        <legend>Coberturas <p style="float: right"><a id="add" class="btn btn-primary btn-sm" href="#">Agregar cobertura</a></p></legend>
        {{ formset.management_form }}
        {% for form in formset.forms %}
        <div class="item">
          {{ form.as_p }}
          <p><a class="delete btn btn-default btn-sm" href="#">Remover</a></p>
        </div>
        {% endfor %}

        <div class="form-group">
            <div class="">
                    <input type="submit" name="crear" class="btn btn-primary " value="Crear">
                    <input type="reset" name ="cancelar" class="btn btn-warning" value="Cancelar">
            </div>
        </div>

    </form>
</div>
{% endblock %}
