{% extends "base.html" %}
{% block head_title %}Nuevo Cliente{% endblock %}
{% block head_css %}

    <link rel="stylesheet" href="../../static/css/custom/styles_nuevocliente.css">
    <script type = "text/javascript" src = "../../static/js/custom/datosClientes.js"></script>

    <!-- <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.css"> -->
{% endblock %}


{% block body_content %}




<form action="{% url 'schema:nuevoClienteAuthentication' %}" method="post">
  {% csrf_token %}
  <div class="container">
    <div class="col-md-12" >
    <h3 >Nuevo Cliente</h3></br>
      <div class="row">
        <!-- PRIMERA COLUMNA -->
        <div class="col-md-6">
          <div class="row">
            <div class="form-group">
             <label for="inputName" class="col-md-4 control-label">Nombre</label>
              <div class="col-md-8">
                 <input type="text" class="form-control" name="nombre" placeholder="">
                    {% for error in datos_form.nombre.errors %}
                    <p class="red-color">{{ error_missingfields }}</p>
                    {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputApellidoP" class="col-md-4 control-label">Apellido Paterno</label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="apellidoPaterno" placeholder="">
                    {% for error in datos_form.apellidoPaterno.errors %}
                    <p class="red-color">{{ error_missingfields }}</p>
                    {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputApellidoM" class="col-md-4 control-label">Apellido Materno</label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="apellidoMaterno" placeholder="">
                    {% for error in datos_form.apellidoMaterno.errors %}
                    <p class="red-color">{{ error_missingfields }}</p>
                    {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputEmail" class="col-md-4 control-label">Email</label>
              <div class="col-md-8">
                 <input type="text" class="form-control" name="email" placeholder="">
                    {% for error in datos_form.email.errors %}
                    <p class="red-color">{{ error_email }}</p>
                    {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputRFC" class="col-md-4 control-label">RFC</label>
              <div class="col-md-8">
                 <input type="text" maxlength="13" class="form-control" name="rfc" placeholder="">        
              </div>
            </div>
          </div>
        </div>


        <!-- SEGUNDA COLUMNA -->
        <div class="col-md-6">
          <div class="row">
            <div class="form-group">
             <label class="col-md-4 control-label">Sexo</label>
              <div class="col-md-8">
                      <label>
                      <input type="radio" name="sexo" id="optionsRadios1" value="H">
                      Hombre
                     </label>
                        <label>
                      <input type="radio" name="sexo" id="optionsRadios2" value="M">
                      Mujer
                        </label>
                     {% for error in datos_form.sexo.errors %}
                    <p class="red-color">{{ error_missingfields }}</p>
                    {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputEmail" class="col-md-4 control-label">Edad</label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="edad" placeholder="">
                    {% for error in datos_form.telefonoLada.errors %}
                    <p class="red-color">{{ error_lada }}</p>
                    {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputLada" class="col-md-4 control-label">Lada</label>
              <div class="col-md-8">
                <input type="text" maxlength="3" class="form-control" name="telefonoLada" placeholder="Clave LADA (3 dígitos)">
                    {% for error in datos_form.telefonoLada.errors %}
                    <p class="red-color">{{ error_lada }}</p>
                    {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="inputTel" class="col-md-4 control-label">Télefono</label>
              <div class="col-md-8">
                <input type="text" maxlength="7"class="form-control" name="telefono" placeholder="7 dígitos">
                    {% for error in datos_form.telefono.errors %}
                    <p class="red-color">{{ error_telefono }}</p>
                    {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
         <div class="form-group">
           <div class="col-md-6">
             <legend>Dirección</legend>
           </div>
          <div class="col-md-4">
            <input type= "button"   value="Dirección" class="btn btn-primary" onclick="mostrar()">
          </div>
         </div>
      </div>
      <div  id='direccion' class="row" style='display:none;'>
        <div class="col-md-6">
            <div class="form-group">
             <label for="inputEstado" class="col-md-4 control-label">Estado</label>
              <div class="col-md-8">
                 <input type="text" class="form-control" name="estado" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputCiudad" class="col-md-4 control-label">Ciudad</label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="ciudad" placeholder="">
              </div>
            </div>
            <div class="form-group">
             <label for="inputColonia" class="col-md-4 control-label">Colonia</label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="colonia" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputCalle" class="col-md-4 control-label">Calle</label>
              <div class="col-md-8">
                 <input type="text" class="form-control" name="calle" placeholder="">
              </div>
            </div>
        </div>
        <!-- SEGUNDA COLUMNA -->
        <div class="col-md-6">
            <div class="form-group">
             <label for="inputNumExt" class="col-md-4 control-label">Numero Exterior</label>
              <div class="col-md-8">
                      <input type="text" class="form-control" name="numeroExt" placeholder="">
                     {% for error in datos_form.numeroExt.errors %}
                    <p class="red-color">{{ error_NE }}</p>
                    {% endfor %}
              </div>
            </div>
            <div class="form-group">
              <label for="inputNumInt" class="col-md-4 control-label">Numero Interior </label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="numeroInt" placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="inputCodigoP" class="col-md-4 control-label">Codigo Postal</label>
              <div class="col-md-8">
                <input type="text" maxlength="5" class="form-control" name="codigoPostal" placeholder="5 digitos">
                     {% for error in datos_form.codigoPostal.errors %}
                    <p class="red-color">{{ error_CP }}</p>
                    {% endfor %}
              </div>
            </div>
        </div>
      </div> 
          <div class="row">
         <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
                  <input type="submit" name="crear" class="btn btn-primary " value="Crear">
                  <input type="reset" name ="cancelar" class="btn btn-warning" value="Cancelar">    
          </div>
         </div>
      </div>
      </div>
    </div>
</form>

    

  


{% endblock %}
