{% extends "base.html" %}

{% block head_title %}Consultores Patrimoniales{% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="/static/css/custom/styles_nueva_comparativa.css"/>
{% endblock %}

{% block head_javascript %}
<!-- JS here -->
{% endblock %}

{% block comparativas_tag %}class="active"{% endblock %}

{% block body_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Nueva Comparativa</h3>
                </div>
                <div class="panel-body">
                    <!-- start panel body -->
                    <form class="form-horizontal" action="{% url 'schema:nuevaComparativaAuth' cliente.pk %}" method="post">
                        {% csrf_token %}
                        <select class="form-control" name="tipo" id="select" placeholder="Tipo de Seguro" onchange="checaSeguro(value)">
                            <option selected value="None">Selecciona un tipo</option>
                            <option value="AP" name="tipo">
                                Automóviles y pickups
                            </option>
                            <option value="C" name="tipo">
                                Camiones
                            </option>
                            <option value="R" name="tipo">
                                Remolques, cajas secas y adaptaciones en general
                            </option>
                            <option value="G" name="tipo">
                                Gastos médicos mayores
                            </option>
                            <option value="V" name="tipo">
                                Vida
                            </option>
                            <option value="H" name="tipo">
                                Hogares
                            </option>
                            <option value="I" name="tipo">
                                Inversiones
                            </option>
                            <option value="E" name="tipo">
                                Empresas
                            </option>
                            <option value="EC" name="tipo">
                                Equipo de contratistas
                            </option>
                        </select>
                        <div id="forma"></div>
                        <div id="None"></div>
                        <div id="AP">{{ APform.as_p }}</div>
                        <div id="C">{{ Cform.as_p }}</div>
                        <div id="R">{{ Rform.as_p }}</div>
                        <div id="G">{{ Gform.as_p }}</div>
                        <div id="V">
                            {{ Vform.as_p }}
                        </div>
                        <div id="H">
                            {{ Hform.as_p }}
                        </div>
                        <div id="I">
                            {{ Iform.as_p }}
                        </div>
                        <div id="E">
                            {{ Eform.as_p }}
                        </div>
                        <div id="EC">
                            {{ ECform.as_p }}
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-0">
                                <button type="submit" class="btn btn-primary">Crear comparativa</button>
                                <button type="reset" class="btn btn-danger">Cancelar</button>
                            </div>
                        </div>
                    </form>
                    <!-- end panel body -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer_javascript %}
<script src="/static/js/custom/nueva_comparativa.js"></script>
{% endblock %}
