{% extends "base.html" %}
{% block head_title %}Selección de orden servicio{% endblock %}
{% block head_css %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="../../static/css/dataTables/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}
{% block head_javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
{% endblock %}

{% block polizas_tag %}class="active"{% endblock %}
{% block body_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h4>Nueva Póliza</h4>
                    Selecciona por favor una orden de servicio para registrar una póliza
                </div>
                <div class="panel-body">
                    <!-- start panel body -->
                    <table class="table table-hover" id="clientesTable">
                        <thead>
                            <tr>
                                <th>ID Orden</th>
                                <th>Cliente</th>
                                <th>Tipo de seguro</th>
                                <th>Aseguradora</th>
                                <th>Costo</th>
                            </tr>
                        </thead>
                        <tbody class="rowlink" data-link="row">
                            {% for orden in ordenes.all %}
                                {% for cotizacion in orden.comparativa.cotizacion_set.all %}
                                    {% if cotizacion.elegida %}
                                        <?php
                                            $aseguradora = cotizacion.aseguradora;
                                            $costo = cotizacion.costo;
                                        ?>
                                    {% endif %}
                                {% endfor %}
                                <tr id="cliente{{ forloop.counter }}">
                                    <td>
                                        <a href="{% url 'schema:nuevaPoliza' orden.pk %}">{{ orden.pk }}</a>
                                    </td>
                                    <td>
                                        {{ orden.cliente.nombre }} {{ orden.cliente.apellidoPaterno }} {{ orden.cliente.apellidoMaterno }}
                                    </td>
                                    <td>
                                        {{ orden.comparativa.tipoSeguro.nombre.nombre }}
                                    </td>
                                    <td>
                                        {% for cotizacion in orden.comparativa.cotizacion_set.all %}
                                            {% if cotizacion.elegida %}
                                                {{ cotizacion.aseguradora }}
                                            {% endif %}
                                        {% endfor %}
                                        <!--
                                        <?php
                                            echo $aseguradora
                                        ?>
                                        -->
                                    </td>
                                    <td>
                                        {% for cotizacion in orden.comparativa.cotizacion_set.all %}
                                            {% if cotizacion.elegida %}
                                                {{ cotizacion.costo }}
                                            {% endif %}
                                        {% endfor %}
                                        <!--
                                        <?php
                                            echo $costo
                                        ?>
                                        -->
                                    </td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- end panel body -->
                </div>
            </div>
        </div>

        </div>
    </div>
</div>

{% endblock %}

{% block footer_javascript %}

<!-- jQuery -->

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="../../static/js/dataTables/dataTables.bootstrap.min.js"></script>

<script>
$(document).ready( function () {
    $('#clientesTable').DataTable();
} );
</script>
{% endblock %}

<!-- load the js file -->
<script language="javascript" src="js/script_clientes.js"></script>
</html>
