<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>
            ¡Un saludo {{ cliente.nombre }}!
        </p>
        <p>
            Soy su agente {{ agente.nombre }} {{ agente.apellidoPaterno }} {{ agente.apellidoMaterno }} y a continuación le anexo la lista de cotizaciones con nuestras diferencias aseguradoras para su seguro de <strong>{{ seguroNombre.nombre }}</strong> que usted solicitó.
        </p>

        {% for field in datos %}
            <li><b>{{ field.label }}:</b>
                {% if field.data == None or field.data == '' %}
                    No especificado
                {% else %}
                    {{ field.data }}</li>
                {% endif %}
        {% endfor %}

        <br />
        <!-- start panel body -->

        <table border=1>
            <thead>
                <tr>
                    <th></th>

                    {% for cotizacion in comparativa.cotizacion_set.all %}
                    <th>
                        {{ cotizacion.aseguradora.nombre }}
                    </th>
                    {% endfor %}
                   
                    <!--
                    {% for cotizacion in comparativa.cotizacion_set.all %}
                        {% for cobertura in cotizacion.coberturautilizada_set.all %}
                        <th>{{ cobertura.idCobertura.nombre }}</th>
                        {% endfor %}
                    {% endfor %}
                    -->
                </tr>
            </thead>
            <tbody padding=1em>
                <tr>
                    <td>Costo</td>
                    
                    {% for cotizacion in comparativa.cotizacion_set.all %}
                    <td>
                        ${{ cotizacion.costo }}
                    </td>
                    {% endfor %}
                
                </tr>
                <tr>
                    <td>No. de coberturas</td>

                    {% for cotizacion in comparativa.cotizacion_set.all %}
                    <td>
                        {{ cotizacion.coberturautilizada_set.all.count}}
                    </td>
                    {% endfor %}

                </tr>
                <tr>
                    <td>Forma de pago</td>
                    
                    {% for cotizacion in comparativa.cotizacion_set.all %}
                    <td>
                        {{ cotizacion.get_formaPago_display }}
                    </td>
                    {% endfor %}
                       {% for cotizacion in comparativa.cotizacion_set.all %}
                        {% for cobertura in cotizacion.coberturautilizada_set.all %}

                </tr>
                <td>{{ cobertura.idCobertura.nombre }}</td>
                <td>suma asegurada :{{ cobertura.sumaAsegurada }}, deducible: {{ cobertura.deducible }}</td>
                    {% endfor %}
                    {% endfor %}


                </tr>

               
  
                
                   
                    
            </tbody>
           
        </table>
        <p>
            Estaré esperando su respuesta para proseguir con el trámite en caso de que opte por un seguro.
        </p>
        <p>
            Que tenga un buen día.
        </p>
        <p>
            {{ agente.nombre }}
        </p>
    </body>
</html>
