/****** nuevoCliente MODAL ******/



.nuevoClientemodal-container input[type=submit] {
  width: 50%;
  margin-bottom: 10px;
  position: relative;

}

.nuevoClientemodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  
  /* border-radius: 2px; */
  padding: 0 8px;
 
}

.nuevoClientemodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.nuevoClientemodal {

  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding:  8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.nuevoClientemodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 10px 20px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.nuevoClientemodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}



.resize-logo {
    max-width: 500px;
}

/* ERROR MESSAGES COLOR */
.red-color {
    color: red;
}

.row {
    margin-top: 40px;
    padding: 0 10px;
}
