#AP {
    display: none;
}
#C {
    display: none;
}
#R {
	display: none;
}
#G {
	display: none;
}
#V {
	display: none;
}
#H {
	display: none;
}
#I {
	display: none;
}
#E {
	display: none;
}
#EC {
	display: none;
}
#T {
	display: none;
}
#ESP {
	display: none;
}
